<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.makumba.org/ide/mdd/Editor" 
       class = "org.makumba.devel.plugin.eclipse.mdd.editor.EditorPackage"
       genModel = "org/makumba/MDD.genmodel" /> 
	
  </extension>





</plugin>
